{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<title>Listado de ventas</title>
</head>
<body style="padding-top : 60px ;">
	<div class="container">
	<nav class="navbar navbar-dark bg-dark fixed-top">
  		<a class="navbar-brand" href="#">Ventas</a>
  		<form>
			{% csrf_token %}
			{{ form.as_p }}
		</form>
  		<form class="form-inline my-2 my-lg-0">
  			<div>
			<input method="get" type="submit" class="btn btn-outline-success" value="Exportar a excel" name="mybtn">
			</div>
  			<div>
      			<a href="{% url 'listav' %}" class="btn btn-outline-success my-2 my-sm-0">Ver Ventas</a>
      		</div>
      		<div>
      			<a href="{% url 'sale' %}" class="btn btn-outline-success my-2 my-sm-0">Agregar Venta</a>
      		</div>
    	</form>
	</nav>
</div>
<!--<div class="row d-flex justify-content-center ">-->
	<div class="col-md-14 ">
	<table class="table text-center">
		<thead>
			<tr>
				<td>Dia</td>
				<td>Total</td>
				<td>Ganancia</td>
			</tr>
		</thead>
		<tbody>
			{% if diario %}
			{% for venta in diario%}
			<tr>
				<td>{{venta.0}}</td>
				<td>{{venta.1}}</td>
				<td>{{venta.2}}</td>
			{% endfor %}
			{% else %}
			<h1>No hay registros</h1>
			{% endif %}
		</tbody>
	</table>
	</div>
<!--</div>-->

</body>
</html>