{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<title>Listado de productos</title>
</head>
<body style="padding-top : 60px ;">
	<div>
	<nav class="navbar navbar-dark bg-dark fixed-top">
  		<a class="navbar-brand" href="#">inventario</a>
  		<form class="form-inline my-2 my-lg-0">
  			<div>
      			<a href="{% url 'listav' %}" class="btn btn-outline-success my-2 my-sm-0">Ver Ventas</a>
      		</div>
      		<div>
      			<a href="{% url 'sale' %}" class="btn btn-outline-success my-2 my-sm-0">Agregar Venta</a>
      		</div>
    	</form>
	</nav>
</div>
<!--<div class="row d-flex justify-content-center ">-->
	<div class="col-md-14">
	<table class="table text-center">
		<thead>
			<tr>
				<td>#</td>
				<td>Producto</td>
				<td>Cantidad</td>
				<td>Precio Compra</td>
				<td>Precio Venta</td>
			</tr>
		</thead>
		<tbody>
			{% if inven %}
			{% for venta in inven%}
			<tr>
				<td>{{venta.id}}</td>
				<td>{{venta.nombre}}</td>
				<td>{{venta.cantidad}}</td>
				<td>{{venta.precio_compra}}</td>
				<td>{{venta.precio_venta}}</td>
			</tr>
			{% endfor %}
			{% else %}
			<h1>No hay registros</h1>
			{% endif %}
		</tbody>
	</table>
	</div>
<!--</div>-->

</body>
</html>